h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    color: #F5A623;
}

.container {
    width: 30%;
}

html{
    background-color:#303030;
    height: 100%;
}   

.box{
    background-color: black;
    border: 2px solid #F5A623 ;
}

.input{
    background-color: transparent;
    border: 2px solid #F5A623 ;
}

.label{
    color:#F5A623
}

.button{
    background-color: #F5A623;
    color:black;
}

